In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Scores.csv")

In [3]:
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [6]:
x=df[['Hours']]
x

    Hours
0     2.5
1     5.1
2     3.2
3     8.5
4     3.5
5     1.5
6     9.2
7     5.5
8     8.3
9     2.7
10    7.7
11    5.9
12    4.5
13    3.3
14    1.1
15    8.9
16    2.5
17    1.9
18    6.1
19    7.4
20    2.7
21    4.8
22    3.8
23    6.9
24    7.8

In [15]:
y=df['Scores']
y

0     21
1     47
2     27
3     75
4     30
5     20
6     88
7     60
8     81
9     25
10    85
11    62
12    41
13    42
14    17
15    95
16    30
17    24
18    67
19    69
20    30
21    54
22    35
23    76
24    86
Name: Scores, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split

In [51]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.20,random_state=1)

In [22]:
xtrain

    Hours
10    7.7
18    6.1
19    7.4
4     3.5
2     3.2
20    2.7
6     9.2
7     5.5
22    3.8
1     5.1
16    2.5
0     2.5
15    8.9
24    7.8
23    6.9
9     2.7
8     8.3
12    4.5
11    5.9
5     1.5

In [34]:
from sklearn.linear_model import LinearRegression

In [35]:
lr=LinearRegression()

In [38]:
lr.fit(xtrain,ytrain)

LinearRegression()

In [53]:
ypred=lr.predict(xtest)

In [41]:
lr.coef_

array([10.46110829])

In [42]:
lr.intercept_

-1.5369573315500702

In [48]:
from sklearn.metrics import r2_score

In [54]:
r2_score(ytest,ypred)

0.8421031525243527

In [56]:
lr.predict([[4.5]])

C:\Users\yogita\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([45.53802999])